/* animate.aos.css */
[data-aos] {
    transition-property: opacity, transform;
    transition-duration: 2s;
}

[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(50px);
}

[data-aos="fade-up"].aos-animate {
    opacity: 1;
    transform: translateY(0);
}

[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-50px);
}

[data-aos="fade-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

[data-aos="fade-left"] {
    opacity: 0;
    transform: translateX(50px);
}

[data-aos="fade-left"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

[data-aos="zoom-in"] {
    opacity: 0;
    transform: scale(0.5);
}

[data-aos="zoom-in"].aos-animate {
    opacity: 1;
    transform: scale(1);
}
