@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* CSS RESET */
* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Common Styles */
section {
    padding: 60px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.title {
    position: relative;
    color: #50C878;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.title2 {
    position: relative;
    color: #111;
    font-size: 30px;
    font-weight: 1000;
    margin: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
}

/* Navbar */
nav {
    position: sticky;
    top: 0px;
    display: flex;
    height: 80px;
    width: 100%;
    background: #50C878;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 2;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 50px;
    border-radius: 50px;
}

nav .logo .logotex {
    color: #fff;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active {
    color: #111;
}

nav ul li a:hover {
    color: #111;
}

nav .nav-left {
    display: flex;
    align-items: center;
}

nav .signup-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav .signup-link:hover {
    color: #111;
}

/* Sidebar */
.sidebar {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .signup-form {
    width: 80%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width for the form */
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Center text inside the form */
    color: white;
}

.sidebar .signup-form h2 {
    margin-bottom: 20px;
}

.sidebar .signup-form .field {
    margin: 15px 0;
}

.sidebar .signup-form .field input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.sidebar .signup-form .button-area {
    margin-top: 20px;
}

.sidebar .signup-form .button-area input[type="submit"],
.sidebar .signup-form .button-area button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #50C878;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.sidebar .signup-form .button-area input[type="submit"]:hover,
.sidebar .signup-form .button-area button:hover {
    background-color: #45a467;
}

/* Slider */
.slider img {
    height: 89vh;
    width: 98.9vw;
}

/* About Us */
.about-us .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}

.about-us .contact-content .column {
    width: calc(50% - 30px);
}

.about-us .contact-content .left p {
    text-align: justify;
}

.about-us .contact-content .left .button-area {
    display: flex;
    align-items: center;
}

.about-us .contact-content .left .button-area button {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    margin: 5px;
    margin-top: 20px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #15bb4d;
    border: 2px solid #50C878;
    transition: all 0.3s ease;
}

.about-us .contact-content .left .button-area button:hover {
    color: #50C878;
    background: none;
}

.about-us .about-us-logo {
    color: #fff;
    display: flex;
    height: 500px;
}

.about-us .about-us-logo img {
    height: 490px;
    border: 10px solid #50C878;
    border-radius: 1000PX;
    margin: auto;
}

.about-us .contact-content2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}

.about-us .contact-content2 .column {
    width: calc(50% - 30px);
    border: 2px solid black;
    background-color: #50C878;
    border-radius: 10px;
}

.about-us .contact-content2 .v-m-img {
    color: #fff;
    display: flex;
    height: 300px;
}

.about-us .contact-content2 .v-m-img img {
    height: 300px;
    border: 1px solid #111;
    border-radius: 10PX;
    margin: auto;
}

.about-us .contact-content2 .left p {
    text-align: justify;
    margin: 20px;
}

.about-us .contact-content2 .left .button-area button {
    color: #15bb4d;
    display: block;
    width: 160px !important;
    height: 45px;
    margin: 20px auto;
    margin-top: 20px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #fff;
    border: 2px solid #111;
    transition: all 0.3s ease;
}

/* Donate */
.donet {
    background: url("../IMG/m4.jpeg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.title-container {
    background: rgba(80, 200, 120, 0.8);
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.title {
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 0 20px;
}

.form-wrapper {
    position: relative;
    top: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: rgba(241, 241, 241, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    z-index: 1;
}

.donet form .field,
.donet form .fields .field {
    height: 45px;
    width: 100%;
    margin: 10px 0;
}

.donet form .fields {
    display: flex;
    justify-content: space-between;
}

.donet form .field input,
.donet form .textarea textarea {
    height: 100%;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.8);
    border: 3px solid #50C878;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.donet form .field input:focus,
.donet form .textarea textarea:focus {
    border: 4px solid #50C878;
}

.donet form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.donet form .button-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.donet form .button-area button {
    color: #fff;
    width: 160px;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    background: #15bb4d;
    border: 2px solid #50C878;
    transition: all 0.3s ease;
}

.donet form .button-area button:hover {
    color: #50C878;
    background: none;
}

/* Contact */
.contact .icons {
    display: flex;
    margin: 10px 0;
    place-items: center;
}

.contact .row {
    display: flex;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    border: 2px solid #50C878;
    margin: 0px 5px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.contact .box {
    display: flex;
    margin: auto;
}

.contact .row .info {
    margin: auto;
    margin-left: 30px;
}

.contact .row i {
    font-size: 50px;
    color: #50C878;
}

.contact .info .head {
    font-weight: 500;
}

.contact .info .sub-title {
    color: #333;
}

.contact form .field {
    height: 45px;
    width: 60%;
    margin-bottom: 15px;
    margin: 10px auto;
}

.contact form .textarea {
    height: 80px;
    width: 60%;
}

.contact form .name {
    margin-right: 10px;
}

.contact form .field input,
.contact form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #50C878;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact form .field input:focus,
.contact form .textarea textarea:focus {
    border: 3px solid #50C878;
}

.contact form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact form .button-area {
    display: flex;
    align-items: center;
}

.contact form .button-area button {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    margin-left: 230px;
    margin-top: 20px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #15bb4d;
    border: 2px solid #50C878;
    transition: all 0.3s ease;
}

.contact form .button-area button:hover {
    color: #50C878;
    background: none;
}

/* Footer */
footer {
    background: #26ac53;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
